/* This Tag */
:host {
  display: block;
}

/* List */
ul {
  padding: 0;
  list-style-type: none;
}

li {

}

/* Item */
.foo :hover{
  background-color: rgba(59,148,208,0.3);
}

[api-card] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-between;*/

  background-color: #ffffff;
  min-height: 44px;
}

[api-card] paper-icon-button {
  position: absolute;
  right:0;
}

[api-card] div {
  margin-left: 4px;
  /*flex-grow: 0;*/
  /*flex-shrink: 1;*/
  flex-basis: 100px;


  display: flex;
  flex-direction: column;
  /*align-content: center;*/
}

[api-card] [name] {
  flex-grow: 1;
  flex-shrink: 0;

}

[api-card] [endpoint] {
  flex-grow: 2;
  flex-shrink: 1;
  /*margin-right: 44px;*/
}

/* Element */

[key] {
  margin-right: 6px;
  text-transform: uppercase;
  font-size: smaller;
}

[value] {

}

/* Breakpoints */

/* Small */
@media (max-width: 600px) {

}

/* Tablet+ */
@media (min-width: 601px) {



}
